{% extends 'shop/basic.html' %}
{% block title%} My Awesome Cart - Tracker{% endblock %}
{% block body %}
<div class="container">
    <div class="col my-4">
        <h2>Enter your Email and Order ID to Track your Orders!</h2>
                <form method="post" action='/shop/checkout/' class="row g-3">{% csrf_token %}
                    <div class="col-md-6">
                        <label for="inputname" class="form-label">Order Id</label>
                        <input type="text" class="form-control" id="OrderId" name="OrderId" placeholder="Order Id">
                    </div>
                    <div class="col-md-6">
                        <label for="inputEmail4" class="form-label">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <div><button type="submit" class="btn btn-primary">Track Order</button></div>
                </form>
    </div>
    <div class="col my-4">
        <h2>Your Order Status</h2>
        <div>
            <ul class="list-group list-group-numbered" id="items">
            </ul>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">

</script>
{% endblock %}